h1{
color: black;
}
img{

	content:12px;
	border-image:30px;
	height:30px;
	border-radius:50% ;
	width: 30px;
	float: right;


}
label{
	font-size:20px;
}
.sidebar {
	
	
	position: relative;

}
h3{
	color:black;
	size: 15px;
	font-size: 20px;
	text-shadow: unset;
	margin-right: 20px;
	padding:4px;
	padding:auto;
	background: transparent;
	font-family:Times New Roman;

}
h4{
font-family:Copperplate Gothic Light; 

}
input{

	border: 2px solid ;
	border-radius: 4px;
	outline: none;

}
input:focus{
		border-color:dodgerblue;
}
