<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

        <form action="../../controllers/registro_controler.php" method="POST" id="msform">
          
              <input type="text" name="email" placeholder="Email" />
              <input type="password" name="pass" placeholder="Password" />
              
            
              <input type="text" name="nombre" placeholder="Nombre" />
              <input type="text" name="apellido" placeholder="Apellido" />
              <input type="date" name="fechaNacimiento" placeholder="Nacimiento" />
              <input type="text" name="cedula" placeholder="Cedula" />
            
        
             
                <select name="genero" >
                  <option value="Masculino">Masculino</option>
                  <option value="Femenino">Femenino</option>
                </select>
    
        
              <input type="text" name="estadoCivil" placeholder="Estado civil" />
              <input type="tel" name="telefono" placeholder="Telefono" />
              <input type="text" name="nacionalidad" placeholder="Nacionalidad" />
              <input type="text" name="calle" placeholder="Calle" />
              <input type="text" name="apartamento" placeholder="Apartamento" />
              <input type="text" name="provincia" placeholder="Provincia" />
              <input type="text" name="municipio" placeholder="Municipio" />
          
            
              <input type="text" name="empresa" placeholder="Empresa" />
              <input type="text" name="actividadLaboral" placeholder="Actividad laboral" />
              <input type="tel" name="telefonoTrabajo" placeholder="Telefono" />
              <input type="text" name="anios" placeholder="Años" />
              <input type="text" name="meses" placeholder="Meses" />
              <input type="text" name="sueldo" placeholder="Sueldo" />
              <input type="text" name="direccionCalleTrabajo" placeholder="Direccion" />
              <input type="text" name="provinciaTrabajo" placeholder="Provincia" />
              <input type="text" name="municipioTrabajo" placeholder="Municipio" />
    
              <input type="submit" name="submit" class="submit action-button" value="Enviar" />

        </form>
    
</body>
</html>